#main
  margin:50 15% 0 15%
.login
  margin:30px auto
  width:70%
  height: 30%
  padding-top:4em
  padding-bottom:3em
  border-radius: 0.5em
  border-shadow:0 1px 0 #f2f4f5
  border:1px solid #ddd
  background: #fff
#login-btn
  margin-left:0.4em
.error-tip
  margin:-15px 0 0 0 !important
  line-height: 1em
  height:1em
