#main
	margin:50 15% 0 15%

.login
	margin:30px auto;
	width:550px;
	height: 250px;
	padding-top:50px;
	padding-bottom:50px;
	border-radius: 5px;
	border-shadow:0 1px 0 #f2f4f5;
	border:1px solid #ddd;
	background: #fff;

.error-tip
	margin:-15px 0 0 0 !important;
	line-height: 25px;
	height:25px;